body {
  margin: 0;
  padding-top: 20px;
  font-family: arial;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
  background: white;
}
#wrapper header .header-row {
  overflow: hidden;
  margin-bottom: 30px;
}
#wrapper header .header-row .logo {
  width: 240px;
  float: left;
  position: relative;
}
#wrapper header .header-row .logo img {
  position: absolute;
  left: 125px;
  top: 0px;
}
#wrapper header .header-row .logo a {
  display: block;
  text-decoration: none;
  color: green;
  font-size: 50px;
}
#wrapper header .header-row .logo a span {
  color: #125c87;
  margin: 0 -10px;
}
#wrapper header .header-row .logo a p {
  color: green;
  margin: 0 10px;
}
#wrapper header .header-row .box {
  width: 300px;
  float: right;
  text-align: right;
  margin: 0;
  height: 58px;
}
#wrapper header .header-row .box p {
  padding-top: 20px;
  margin: 0;
  color: gray;
}
#wrapper header .header-row .box a {
  text-decoration: none;
  color: green;
}
#wrapper nav {
  background: white;
  overflow: hidden;
  padding: 0 0 10px 0;
}
#wrapper nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding: 0 0 10px 0;
}
#wrapper nav ul li {
  float: left;
  width: 12.5%;
  height: 48px;
  background: #218cc8;
}
#wrapper nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  height: 100%;
  text-align: center;
  position: relative;
  line-height: 300%;
}
#wrapper nav ul li a:hover {
  background: #125c87;
}
#wrapper nav ul .social li {
  float: left;
  width: 50%;
}
#wrapper nav ul .social li a img {
  display: inline-block;
  padding: 3px;
  border-radius: 3px;
  background: #dfedf5;
  margin: 20%;
}
#wrapper nav ul .social li a:hover {
  background: inherit;
}
#wrapper nav .home {
  background: #125c87;
}
#wrapper nav .home:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0 0 -10px -5px;
  border: 5px solid transparent;
  border-top: 5px solid #125c87;
}
#wrapper .banner {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
}
#wrapper .banner .banner-text {
  width: 50%;
  text-align: right;
  position: absolute;
  top: 20px;
  right: 10px;
}
#wrapper .banner .banner-text strong {
  font-size: 35px;
  color: #5390b4;
}
#wrapper .banner .banner-text span {
  font-size: 18px;
  color: #5390b4;
}
#wrapper .banner .banner-text a {
  float: right;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 150px;
  height: 40px;
  background: #f28221;
  font-weight: bold;
  font-size: 16px;
  color: white;
}
#wrapper .banner .banner-text a:hover {
  color: #125c87;
  box-shadow: 0 0 10px black;
}
#wrapper .banner .banner-text a:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#wrapper .menu {
  overflow: hidden;
  margin-bottom: 10px;
}
#wrapper .menu .menu-option {
  width: 60%;
  float: left;
}
#wrapper .menu .menu-option .textual-left-box {
  margin: 0;
  color: #218cc8;
  height: 30px;
}
#wrapper .menu .menu-option ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#wrapper .menu .menu-option ul li {
  display: inline-block;
}
#wrapper .menu .menu-option ul li .now-activated {
  text-decoration: none;
  color: grey;
  text-align: center;
  display: block;
  background: #dfedf5;
  border: 1px solid;
  border-color: #125c87;
  color: #125c87;
  padding: 0 5px 0 5px;
  line-height: 175%;
  font-size: 0.9em;
}
#wrapper .menu .menu-option ul li a {
  text-decoration: none;
  color: grey;
  text-align: center;
  display: block;
  background: #ededed;
  border: 1px solid;
  border-color: #bababa;
  padding: 0 5px 0 5px;
  line-height: 175%;
  font-size: 0.9em;
}
#wrapper .menu .menu-search {
  float: right;
  width: 39%;
}
#wrapper .menu .menu-search .search-box {
  padding: 0;
  margin: 0 0 0 10px;
  border: 4px solid;
  height: 30px;
  width: 70%;
  border-color: #c5debb;
}
#wrapper .menu .menu-search .search-box:after {
  content: "";
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
#wrapper .menu .menu-search .search {
  background: #c5debb;
  color: #637f51;
  font-weight: bold;
  float: right;
  padding: 0;
  margin: 0;
  border: none;
  width: 25%;
  display: block;
  height: 30px;
}
#wrapper #main {
  /* index.html */
  /* about.html */
  /* Contact Us */
}
#wrapper #main ul {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 10px 0 10px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #bababa;
  overflow: hidden;
}
#wrapper #main ul:first-child {
  border-bottom: none;
  padding-bottom: 0;
}
#wrapper #main ul li {
  float: left;
  margin-left: 5%;
  width: 30%;
}
#wrapper #main ul li:first-child {
  margin-left: 0;
}
#wrapper #main ul li .item {
  display: inline-block;
  overflow: hidden;
}
#wrapper #main ul li .item header .title {
  color: #136392;
  text-align: left;
  float: left;
}
#wrapper #main ul li .item .box-item {
  display: inline-block;
}
#wrapper #main ul li .item .box-item .item-href {
  display: block;
  height: 100%;
  width: 100%;
}
#wrapper #main ul li .item .box-item .item-href .preview {
  display: block;
  width: 96%;
  height: 100%;
  padding: 5px;
  background: #dfedf5;
}
#wrapper #main ul li .item footer strong {
  float: left;
}
#wrapper #main ul li .item footer p {
  float: left;
  color: #637f51;
  font-weight: bold;
  margin: 0;
}
#wrapper #main ul li .item footer .cod {
  float: right;
  text-align: right;
}
#wrapper #main .switcher {
  overflow: hidden;
  background: #dfedf5;
  padding: 10px;
  margin-bottom: 10px;
}
#wrapper #main .switcher .sw-left {
  width: 45%;
  float: left;
}
#wrapper #main .switcher .sw-left a {
  display: block;
  height: 30px;
  width: 90px;
  color: white;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  background: #218cc8;
  font-size: 20px;
}
#wrapper #main .switcher .sw-left a:after {
  content: "";
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
#wrapper #main .switcher .sw-middle {
  width: 10%;
  float: left;
}
#wrapper #main .switcher .sw-middle ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: none;
}
#wrapper #main .switcher .sw-middle ul li {
  margin: 0;
  margin-left: 5%;
}
#wrapper #main .switcher .sw-middle ul li:first-child {
  margin-left: 0;
}
#wrapper #main .switcher .sw-middle ul li a {
  float: left;
  height: 30px;
  width: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  background: #218cc8;
  font-size: 20px;
}
#wrapper #main .switcher .sw-middle ul li a:after {
  content: "";
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
#wrapper #main .switcher .sw-middle ul li .active-selector {
  background: #125c87;
}
#wrapper #main .switcher .sw-right {
  width: 45%;
  float: left;
}
#wrapper #main .switcher .sw-right a {
  display: block;
  float: right;
  height: 30px;
  width: 90px;
  color: white;
  text-align: center;
  text-decoration: none;
  background: #218cc8;
  font-size: 20px;
}
#wrapper #main .switcher .sw-right a:after {
  content: "";
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
#wrapper #main .about-main {
  overflow: hidden;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #bababa;
}
#wrapper #main .about-main .about-left {
  width: 60%;
  float: left;
  text-align: justify;
  margin-bottom: 20px;
}
#wrapper #main .about-main .about-left ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  border: 5px solid;
  border-color: #dfedf5;
}
#wrapper #main .about-main .about-left ul li {
  margin: 0;
  width: 50%;
  padding: 0;
}
#wrapper #main .about-main .about-right {
  width: 35%;
  float: right;
  text-align: justify;
}
#wrapper #main .about-main .about-right h3 {
  font-size: 1.2em;
  color: #125c87;
}
#wrapper #main .about-main .about-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
}
#wrapper #main .about-main .about-right ul li {
  width: 100%;
  padding: 0;
  margin: 0 0 5px 0;
}
#wrapper #main .about-main .about-right ul li a {
  display: block;
  height: 100%;
  width: 100%;
  background: #dfedf5;
  text-decoration: none;
  color: #125c87;
  padding: 5px;
}
#wrapper #main .about-main .about-right ul li a:hover {
  background: #125c87;
  color: white;
}
#wrapper #main .about-main .about-right .a-holder {
  display: inline-block;
  padding: 5px 5px 1px 5px;
  width: 45%;
  height: 45%;
  background: #dfedf5;
}
#wrapper #main .about-main .about-right .a-holder:last-child {
  float: right;
}
#wrapper #main .about-main .about-right .a-holder img {
  width: 100%;
  height: 100%;
}
#wrapper #main .contact-left {
  width: 60%;
  float: left;
  text-align: justify;
  margin-bottom: 20px;
}
#wrapper #main .contact-left form {
  overflow: hidden;
  color: #125c87;
  font-weight: bold;
  margin-bottom: 20px;
}
#wrapper #main .contact-left form input {
  background: #dfedf5;
  border: none;
  padding: 10px 0 10px 0;
}
#wrapper #main .contact-left form .first-name {
  width: 49%;
  float: left;
}
#wrapper #main .contact-left form .first-name input {
  width: 100%;
}
#wrapper #main .contact-left form .last-name {
  width: 49%;
  float: right;
}
#wrapper #main .contact-left form .last-name input {
  width: 100%;
}
#wrapper #main .contact-left form .email {
  width: 100%;
}
#wrapper #main .contact-left form .email input {
  width: 100%;
}
#wrapper #main .contact-left form .message {
  width: 100%;
}
#wrapper #main .contact-left form .message textarea {
  border: none;
  background: #dfedf5;
  width: 100%;
  height: 300px;
  padding: 10px 0 10px 0;
}
#wrapper #main .contact-left form .submit {
  padding: 10px;
  background: #c5debb;
  color: #637f51;
  border: 1px solid;
  border-color: #637f51;
  float: right;
}
#wrapper footer {
  overflow: hidden;
  padding-top: 10px;
}
#wrapper footer span {
  color: #125c87;
  float: left;
}
#wrapper footer ul {
  float: right;
  height: 30px;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
#wrapper footer ul li {
  display: inline-block;
  margin-left: 5px;
}
#wrapper footer ul li a {
  text-decoration: none;
  color: black;
  display: block;
  height: 100%;
  width: 100%;
  border-right: 1px solid;
  padding: 0 0 0 5px;
}
#wrapper footer ul li a:hover {
  color: #125c87;
}
