* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	background: #fff;
	font-family: Arial, Tahoma, Verdana, sans-serif;
}
@font-face {
	font-family: Comfortaa-Bold;
	src: url(font_family/Comfortaa-Bold.woff);
}
	header, nav, #main, #wrapper ,footer {
		display: block;
		overflow: hidden;
	}

	a {
		text-decoration: none;
	}

	#wrapper {
		width: 1047px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		margin: 0px auto;
		padding:  10px 40px;
	}
		
		#wrapper header {
			text-align: center;
			position: relative;
			margin-bottom: 10px;
		}

			#additional_inform {
				display: block;
				float: right;
				padding-top: 45px;
				font-style: italic;
				text-align: right;
			}
				
				#additional_inform  a {
					background: none;
					color: #88b073;
					font-weight: bold;
				}
					#additional_inform a:hover {
						text-shadow: #f4d30a 1px 1px 3px;
						text-decoration: underline;
					}

			#logo {
				float: left;
				font-size: 63px;
				font-family: Comfortaa-Bold;
				text-shadow:  #e7e7e7 3px 3px 2px;
				
			}
				#logo:hover {
					-webkit-transform: rotate(2deg);
					-o-transform: rotate(2deg);
					-moz-transform: rotate(2deg);
					}
				#logo mark {
					background: none;
					color: #558fc8;
				}
				#logo a {
					color: #599a48;
				}
				#logo img {
					position: absolute;
					left: 150px;
					top: 12px;
				}

		nav {
			position: relative;
			height: 75px;
			overflow: hidden;
		}
			nav ul, li, a {
				margin: 0px; padding: 0px;
			}
			nav ul {
				list-style-type: none;
		    	height: 53px;
		    	background: #4989c4;
			}

			.nav_item{
				float: left;
			}
			.nav_item a {
				position: relative;
				display: block;
				padding: 15px 20px;
				text-decoration: none;
				color: #fff;
				font-size: 20px;
				font-family: Arial, sans-serif;
				font-weight: bold;

			}
			.nav_item a:hover {
				background: #125c87;
			}
			nav ul .nav_item a:hover:after {
				content: "";
				border-style: solid;
				border-width: 7px 7px 0px 7px;
				border-color: #125c87  transparent;
				position: absolute;
				left: 45%;
				bottom: -7px;
			}
				nav ul .link_active{
					position: relative;
					background: #125c87;
				}	
				nav ul .link_active:before {
					content:"";
					position: absolute;
					left: 45%;
					top: 53px;
					border-style: solid;
					border-width: 7px 7px 0px 7px;
					border-color: #125c87  transparent;
					/* or - border-top: 7px solid #125c87;
					border-right: 7px solid transparent; 
					border-left: 7px solid transparent;*/
				}
	
			#social_items {
				position: absolute;
				top: 12px;
				right: 30px;
				display: inline-block;
				background: none;
			}
				
				
				#mail_button, #facebook_button  {
					display: inline-block;
					height: 18px;
					width: 18px;
					border: 3px solid #95c9ed;
					border-radius: 6px;
					-webkit-transition: -webkit-transform 1s ease-in-out 0s;
				}
					#facebook_button {
						background: url(image/facebook.png) center no-repeat;
						background-size: cover; 
 					}
					#mail_button {
						background: url(image/mail.png) center no-repeat;
						background-size: cover; 
					}
				#social_items a:hover {
					-webkit-transform: scale(1.4);
				}

		#main {
			margin-bottom: 10px;
			border-bottom: 1px dotted #c1cce1;
		}	
		#main_header {
			position: relative;
			margin: 0px;
			background: url(image/image.png) no-repeat;
			background-size: cover;
			height: 170px;
		}
				
			#main_header hgroup{
				float: right;
				padding: 20px 20px 0px 0px;
				color: #83a1bf;
				text-align:  right;
			}
										
				#main_header hgroup h5 {
					display: inline-block;
				}

					#main_header hgroup h5 a {
						background: #e9880f;
						display: block;
						padding: 10px 15px;
						color: #fff;
					}
						#main_header h5 > a:hover{
							text-decoration: underline;
						}
						
			menu {
				overflow: hidden;
				border-bottom: 1px dotted #c1cce1;
				padding: 15px 0px;
				margin: 0px 0px 20px;
			}

				menu ul > li {
					float: left;
					list-style-type: none;
					margin-right: 5px;
				}
					menu li a {
						font-weight: bold;
						display: block;
						padding: 10px 15px;
						background: #f3f2f1;
						color: #aaa6a2;
						border: 1px solid #e6e3e1;
					}
						menu li a:hover {
							background: #e9f1f8;
							color: #325a8c;
							border: 1px solid #d3e6f6;
						}
					
				menu form {
					display: inline-block;
					float: right;
					padding-bottom: 10px;
				}
					form input {
						background: #cde2c0;
						border: 1px solid #aacb98;
						padding: 10px;
						font-weight: bold;
						font-size: 16px;
						color: #5e7f4b;
						-webkit-box-sizing: border-box;
						-o-box-sizing: border-box;
						-moz-box-sizing: border-box;
					}
						form input[name=search] {
							background: #fff;
							border: 4px solid #cde2c0;
							outline: 1px solid #aacb98;
							height: 38px;
						}
					

			section {
				margin: 0px 0px 20px;
				border-bottom: 1px dotted #aacb98;
				padding: 0px 0px 30px 0px;
				overflow: hidden;
			}
				section ul li h5 {
					font-weight: bold;
				font-family: Arial, sans-serif;
				font-size: 18px;
				color: #325a8c;
				}
				.t-shirts {
					display: inline-block;
					float: left;
					padding: 0px 30px 0px 2px;
					font-weight: bold;
				    font-family: Arial, sans-serif;
				}
					.t-shirts img {
						border: 10px solid #e9f1f8;
						width: 100%;
						-webkit-box-sizing: border-box;
						outline: 1px solid #d3e6f6;
					}
					
					.t-shirts .group_1 {
						background: none;
						color: #349031;
					}
					.t-shirts .group_2 {
						background: none;
						color: #696663;
					}
					.t-shirts:nth-child(3) {
						padding: 0px;
					}
					.price {
						float: left;
					}
					.code {
						float: right;
					}

		#pagination {
			overflow: hidden;
			background: #e9f1f8;
			padding: 10px;
			margin-bottom: 20px;
		}
			#pagination #back {
				width: 42%;
				height: 50px;
				float: left;
				overflow: hidden;
			}
				#pagination #back a{
					display: inline-block;
					height: 100%;
					width: 130px;
					color: #fff;
					text-align: center;
					text-decoration: none;
					background: #4989c4;
					font-size: 20px;
				}	
					#back a:after{
						content: "";
						display: inline-block;
						height: 100%;
						vertical-align: middle;
					}
						#pagination #back .first_page {
								background: #b4c3d2;
							}
			#pagination #number_page {
				width: 17%;
				height: 50px;
				float: left;
				/*overflow: hidden;*/
				list-style-type: none;
			}
				#number_page ul{
					height: 100%;
					
				}
					#number_page ul li{
						display: block;
						float: left;
						width: 50px;
						height: 50px;
					}
						#number_page ul li:first-child{
							margin-right: 5px;
						}
						#number_page ul li:last-child{
							margin-left: 5px;
						}
						#number_page ul li a{
							background: #4989c4;
							display: inline-block;
							height: 100%;
							width: 100%;
							color: #fff;
							text-align: center;
							text-decoration: none;
							font-size: 20px;
						}
							#number_page .link_active{
								background: #2d5280;
							}
							#number_page ul li a:after{
								content: "";
								display: inline-block;
								height: 100%;
								vertical-align: middle;
								
							}
			#pagination #move{
				width: 41%;
				height: 50px;
				float: right;
				text-align: right;
				overflow: hidden;
			}
				#move a{
					display: inline-block;
					height: 100%;
					width: 130px;
					color: #fff;
					text-align: center;
					text-decoration: none;
					background: #4989c4;
					font-size: 20px;
				}
					#move a:after{
						content: "";
						display: inline-block;
						height: 100%;
						vertical-align: middle;
					}
				
			

		footer {
		padding-top: 10px;

		}

		footer p {
			float: left;
			font-size: 11px;
			color: #568489;
		}
			footer p > a {
				background: none;
				color: #265056;
				display: inline-block;
				font-weight: bold;
				-webkit-transition: -webkit-transform 1s ease-in-out 0s;
				-moz-transition: -moz-transform 1s ease-in-out 0s;
				-o-transition: -o-transform 1s ease-in-out 0s;
				transition: transform 1s ease-in-out 0s;

			}
				footer p > a:hover{
					-webkit-transform: rotate(360deg);
					-o-transform: rotate(360deg);
					-moz-transform: rotate(360deg);
					transform: rotate(360deg);

				}
		footer #footer_nav {
			float: right;
			overflow: hidden;
		}
			#footer_nav li {
				float: left;
				display: inline-block;
			}
			footer #footer_nav a {
				color: #568489;
				padding: 0px 10px;
				border-right: 2px solid #568489;
			}

		
			



		
			

										

				
					











	