*{
	padding: 0px;
	margin: 0px;
	color: #fff;
}
body{
	background: #162a60 url(../img/bg.png);
	font-family: Helvetica;
}
#wrapper{
	padding: 10px;
}
header{
	padding: 20px 0px;
	margin: 0px auto 75px auto;
	max-width: 935px;
}
	.logo {
		width: 62px;
		height: 46px;
		font-weight: normal;
		font-size: 40px;
	}
		h1.logo a{
			text-decoration: none;
		}
#main{
	display: block; /*Т.к. кроме новых версий браузеров chrome & Firefox данный тег никто не понимает */
					/*объявим данный элемент блоком, чтоб исправить этот момент*/
	font-size: 0%;  /*убираем пробелы между inline-block элементами*/
	max-width: 935px;
	margin: 0px auto 30px auto;
}
#main ul{
	list-style: none;
	text-align: center;
}
	#main li{
		display: inline-block;
		box-sizing: border-box;
		font-size: 16px;
		margin: 5px;
		width: 150px;
		height: 150px;
		text-align: left;
		overflow: hidden;
	}
	#main li:active{
		-webkit-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	    transform: scale(0.8);
	}
	#main li a{
		padding: 0 0 5px 5px;
		text-decoration: none;
		box-sizing: border-box;
		display: block;
		width:100%;
		height:100%;
		background: url(../img/shine.png) -91px 0 no-repeat;
		transition-property: all;
		transition-duration: .7s
	}
		#main li a:hover{
			background-position: 241px 0;
		}
		#main li:nth-child(3) a:hover,
		#main li:nth-child(6) a:hover{
			background-position: 401px 0;
		}
		#main li:nth-child(7) a:hover{
			background-position: 531px 0;
		}
	#main ul li>a:after{
		content: "";
		display: inline-block;
		vertical-align: bottom;
		height: 100%;
	}
		#main li:first-child{
			background: #3387ea url(../img/main.png) no-repeat 0 0;
		}
		#main li:nth-child(2){
			background: #f9be3e url(../img/main.png) no-repeat 0 -150px;
		}
		#main li:nth-child(3){
			width: 280px;
			background: #d3573e url(../img/main.png) no-repeat 50% -300px;
		}
		#main li:nth-child(4){
			background: #59b0e2 url(../img/main.png) no-repeat 0 -450px;
		}
		#main li:nth-child(5){
			background: #33af95 url(../img/main.png) no-repeat 0 -600px;
		}
		#main li:nth-child(6){
			width: 310px;
			background: #86a73f url(../img/main.png) no-repeat 50% -750px;
		}
		#main li:nth-child(7){
			width: 440px;
			background: #151a26 url(../img/nouncy.png) no-repeat;
		}
			#main li:nth-child(7) a{
						padding: 20px 0 0 160px;
			}
			#main li:nth-child(7) span{
				color: #7f8cae;
			}
		#main li:last-child{
			background: #7e5b8c url(../img/main.png) no-repeat 0 -1050px;
		}
footer{
	height: 75px;
	font-size: 0%;  /*убираем пробелы между inline-block элементами*/
	max-width: 935px;
	margin: 0px auto;
	text-align: right;
}
	footer ul{
		list-style: none;
	}
		footer li{
			float: left;
			margin: 0px 5px 0px 5px;
			height: 75px;
			width: 75px;
		}
	footer ul li:hover{
		-webkit-transform: scale3d(1.3, 1.3, 1.3);
		-webkit-transition-duration:800ms;
		-webkit-transform-origin: 0% 100%;
		transform: scale3d(1.3, 1.3, 1.3);
		transition-duration:800ms;
		box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.7)
	}
			footer li:nth-child(1){
				background: #004088 url(../img/main.png) no-repeat 0 -1275px;
			}
			footer li:nth-child(2){
				background: #02abe3 url(../img/main.png) no-repeat -75px -1200px;
			}
			footer li:nth-child(3){
				background: #f14724 url(../img/main.png) no-repeat 0 -1200px;
			}
			footer li a{
				display: block;
				width: 100%;
				height: 100%;
			}
			footer a{
				text-decoration: none;
				font-size: 14px;
				color: #7f8cae;
				}
			footer:after{
				content: "";
				display: inline-block;
				vertical-align: bottom;
				height: 100%;
				margin: 0 0 0 -2px;
			}
@media screen and (max-width: 965px){
	header,
	#main,
	footer{
		max-width: 640px;
	}
	#main li:nth-child(6){
		width: 280px;
		height: 150px;
	}
}
@media screen and (max-width: 676px){
	header,
	#main,
	footer{
		max-width: 480px;
	}
	#main ul{
		text-align: left;
	}
		#main li:nth-child(3),
		#main li:nth-child(6){
			width: 150px;
		}
			#main li:nth-child(3) a:hover,
			#main li:nth-child(6) a:hover{
				background-position: 241px 0;
			}
		#main li:nth-child(7){
			width: 310px;
			background: #151a26;
		}
			#main li:nth-child(7) a{
				padding: 20px 10px 0 5px;
			}
			#main li:nth-child(7) a:hover{
				background-position: 401px 0;
			}
	footer{
		text-align: left;
		height: auto;
	}
		footer ul{
			float: none;
			display: inline-block;
			margin-bottom: 20px;
		}
		footer a{
			display: block;
			text-align: right;
		}
}
@media screen and (max-width: 541px){
	header,
	#main,
	footer{
		max-width: 320px;
	}
	#main li:nth-child(7){
		width: 150px;
		background: #151a26 url(../img/main.png) no-repeat 0 -900px;
	}
		#main li:nth-child(7) a:hover{
			background-position: 241px 0;
		}
		#main li:nth-child(7) p{
			display: none;				
		}
		#main li:nth-child(7) span{
			color: white;
		}
}