body {
	margin: 0;
	color: #000;
	font: 11px Arial, Helvetica, sans-serif;
	background: #fff;
}
.wrapper {
	padding: 50 px;

}

.btn {
	background: #f90;
	border: 1px solid #333;
	color: #fff;
	display: block;
	font-size: 15px;
	line-height: 30px;
	margin: 0 0 0 auto;
	text-align: center;
	text-decoration: none;
	width: 180px;

}